<div class="mai">
	<div class="main">
		<h1>SchoolHub</h1>
		<h3>Enter your login credentials</h3>
		<form [formGroup]="formAuthentication" (ngSubmit)="onConnect()">
			<label for="first">
				Username:
			</label>
			<input type="text"
				id="first"
				placeholder="Enter your Username" required
				formControlName="emailUsername">

			<label for="password">
				Password:
			</label>
			<input type="password"
				id="password"
				placeholder="Enter your Password" required
				formControlName="password">

			<div class="wrap">
				<button type="submit"
						>
					Submit
				</button>
			</div>
		</form>
		<p>Not registered? 
			<a href="#"
			style="text-decoration: none;">
				Create an account
			</a>
		</p>
	</div>

</div>